<p>reactive works!</p>



<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div  formGroupName="name">
        <div class="form-group" [ngClass]="{'has-danger': firstname?.invalid && (firstname?.dirty || firstname?.touched), 'has-success': firstname?.valid && (firstname?.dirty || firstname?.touched)}">
            <input type="text" name="username" class="form-control" formControlName="firstName"  placeholder="Enter First Name"/>
            <div class="form-control-feedback" *ngIf="firstname?.invalid && firstname?.touched">
                <p *ngIf="firstname?.errors?.['required']">* First name is required!</p>
                <p *ngIf="firstname?.errors?.['invalidText']">* Invalid text!</p>
                <p>{{firstname?.errors | json}}</p>
            </div>
        </div>
        
        <input type="email" name="email" class="form-control" formControlName="lastName"  placeholder="Enter Last Name"/>
        <div *ngIf="lastname?.invalid && lastname?.touched">* Last name is required!</div>
    </div>
    
    <div class="form-group">
        <input type="email" name="email" class="form-control" formControlName="email" placeholder="Enter Email"/>
        <input type="password" name="password" class="form-control" formControlName="password" placeholder="Enter Password"/>
        
    </div>

   
    <button type="submit" >Submit</button>
    <!-- <button type="submit" [disabled]="!profileForm.valid">Submit</button> -->

    {{profileForm.value  | json}}
</form>

<!-- <app-test [employees]="employee" (testEvent)="handler($)"></app-test> -->


<!-- -- Data binding --
{{}} - string interpolation
[] - property binding : input
() - event binding : output
[()] - two-way binding -->
