<div class=" d-flex justify-content-center">
  <div>
    <div>
      <h3>Add Todo</h3>
      <app-add-todo (add_todo)="addTodo($event)"></app-add-todo>
    </div>
    <div>
      <div class="card " style="width: 18rem;">

        <div class="card-body d-flex justify-content-center">
          <div>
            <h3 class="card-title ms-4">Todos </h3>
            <app-view-todos *ngFor="let todo of todos" [id]="todo.id" [status]="todo.status"
              (delete_todo)="deleteTodo($event)" (done_todo)="doneTodo($event)">
              <p class="font-weight-normal mt-3" [ngClass]="{strike: todo.status}" #todo>{{todo.title}}</p>
            </app-view-todos>
          </div>
        </div>
      </div>
    </div>
  </div>