<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Employee App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a routerLink="/" routerLinkActive="active" class="nav-link">Login</a> -->
          <a *ngIf="!isAuthenticated" routerLink="/auth/signup" routerLinkActive="active" class="nav-link">Sign Up</a>
          <a *ngIf="isAuthenticated" routerLink="/employee/view" routerLinkActive="active" class="nav-link">View</a>
          <a *ngIf="isAuthenticated" routerLink="/employee/add" routerLinkActive="active" class="nav-link">Add</a>
          <a *ngIf="isAuthenticated" (click)="logout()" routerLinkActive="active" class="nav-link">Logout</a>
          <a class="nav-link disabled">Disabled</a>
        </div>
      </div>
    </div>
  </nav>